*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
.main-heading{
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
}
.heading{
  padding-top: 10px;
}
.card{
  margin:0  300px;
  padding: 10px 50px;
}
.form-control{
  width: 100px;
  height: 40px;
}